@use 'variables';

@font-face {
    font-family: 'Roboto Slab';
    src: url("../fonts/RobotoSlab-VariableFont_wght.ttf");
}

.default-button {
    border-radius: 3px;
    background: variables.$black;
    color: variables.$white;
    font-family: 'Roboto Slab';
    font-size: 16px;
    line-height: 22px;
    padding: 9px 44px 11px 45px;

    &:hover {
        background: variables.$dark;
    }
}